In [1]:
import pandas as pd
import pylab as pl
import numpy as np
import scipy.optimize as opt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
%matplotlib inline 
import matplotlib.pyplot as plt

In [96]:
data = pd.read_csv(r'C:\Users\Imad\Desktop\ML\ML\Classification\Support Vector Machine\hep.csv')

In [143]:
data.tail()

,DIE,AGE,SEX,TEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
139,2,45,1,2,1,2,2,2,2,2,2,2,2,2,1.3,85,44,4.2,85,2
143,1,49,1,1,2,1,1,2,2,2,1,1,2,2,1.4,85,70,3.5,35,2
145,2,31,1,1,2,1,2,2,2,2,2,2,2,2,1.2,75,173,4.2,54,2
153,2,53,2,1,2,1,2,2,2,2,1,1,2,1,1.5,81,19,4.1,48,2
154,1,43,1,2,2,1,2,2,2,2,1,1,1,2,1.2,100,19,3.1,42,2

In [100]:
data.columns = data.columns.str.strip()

In [105]:
data=data.replace('?', np.nan)

In [108]:
data.isnull(). sum()

DIE                0
AGE                0
SEX                0
TEROID             0
ANTIVIRALS         0
FATIGUE            0
MALAISE            0
ANOREXIA           0
LIVER BIG          0
LIVER FIRM         0
SPLEEN PALPABLE    0
SPIDERS            0
ASCITES            0
VARICES            0
BILIRUBIN          0
ALK PHOSPHATE      0
SGOT               0
ALBUMIN            0
PROTIME            0
HISTOLOGY          0
dtype: int64

In [109]:
data = data.apply(pd.to_numeric)

In [107]:
data = data.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)

In [110]:
print(data.shape)

(80, 20)

In [128]:
data['DIE'] = data['DIE'].astype(int)

In [129]:

inputs = data.drop ('DIE', axis='columns')
target = data['DIE']

In [130]:
y =np.asarray(data['DIE'])

In [131]:
inputs_n = inputs[['AGE', 'SEX', 'TEROID', 'ANTIVIRALS', 'FATIGUE', 'MALAISE', 'ANOREXIA', 'LIVER BIG', 'LIVER FIRM','SPLEEN PALPABLE','SPIDERS','ASCITES','VARICES','BILIRUBIN','ALK PHOSPHATE','SGOT','ALBUMIN','PROTIME','HISTOLOGY']]
X = np.asarray(data1)
X[0:5]

array([[ 34. ,   1. ,   2. ,   2. ,   2. ,   2. ,   2. ,   2. ,   2. ,
          2. ,   2. ,   2. ,   2. ,   0.9,  95. ,  28. ,   4. ,  75. ,
          1. ],
       [ 39. ,   1. ,   1. ,   1. ,   2. ,   2. ,   2. ,   1. ,   1. ,
          2. ,   2. ,   2. ,   2. ,   1.3,  78. ,  30. ,   4.4,  85. ,
          1. ],
       [ 32. ,   1. ,   2. ,   1. ,   1. ,   2. ,   2. ,   2. ,   1. ,
          2. ,   1. ,   2. ,   2. ,   1. ,  59. , 249. ,   3.7,  54. ,
          1. ],
       [ 41. ,   1. ,   2. ,   1. ,   1. ,   2. ,   2. ,   2. ,   1. ,
          2. ,   2. ,   2. ,   2. ,   0.9,  81. ,  60. ,   3.9,  52. ,
          1. ],
       [ 30. ,   1. ,   2. ,   2. ,   1. ,   2. ,   2. ,   2. ,   1. ,
          2. ,   2. ,   2. ,   2. ,   2.2,  57. , 144. ,   4.9,  78. ,
          1. ]])

In [15]:
from sklearn.preprocessing import LabelEncoder

In [145]:
target.head(4)

5     2
10    2
11    2
12    2
Name: DIE, dtype: int32

In [133]:
inputs_n.head()

,AGE,SEX,TEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER BIG,LIVER FIRM,SPLEEN PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY
5,34,1,2,2,2,2,2,2,2,2,2,2,2,0.9,95,28,4.0,75,1
10,39,1,1,1,2,2,2,1,1,2,2,2,2,1.3,78,30,4.4,85,1
11,32,1,2,1,1,2,2,2,1,2,1,2,2,1.0,59,249,3.7,54,1
12,41,1,2,1,1,2,2,2,1,2,2,2,2,0.9,81,60,3.9,52,1
13,30,1,2,2,1,2,2,2,1,2,2,2,2,2.2,57,144,4.9,78,1

In [135]:
from sklearn import tree

In [137]:
model = tree.DecisionTreeClassifier(criterion="entropy", max_depth = 4)

In [138]:
model.fit(inputs_n,target)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=4,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [140]:
model.score(inputs_n,target)

1.0

In [144]:
model.predict([[49,1,1,2,1,1,2,2,2,1,1,2,2,1.4,85,70,3.5,35,2]])

array([1])