In [1]:
import pandas as pd
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
import pylab as pl
import numpy as np
import scipy.optimize as opt
from sklearn import preprocessing
%matplotlib inline 
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv(r'\Classification\hep.csv')

In [3]:
data.head()

         DIE       AGE       SEX    TEROID    ANTIVIRALS   FATIGUE  MALAISE   ANOREXIA     LIVER BIG  LIVER FIRM SPLEEN PALPABLE SPIDERS  ASCITES  VARICES  BILIRUBIN   ALK PHOSPHATE  SGOT ALBUMIN PROTIME  HISTOLOGY
0          2        30         2         1             2         2        2          2             1           2               2       2        2        2          1              85    18       4     NaN          1
1          2        50         1         1             2         1        2          2             1           2               2       2        2        2        0.9             135    42     3.5     NaN          1
2          2        78         1         2             2         1        2          2             2           2               2       2        2        2        0.7              96    32       4     NaN          1
3          2        31         1         ?             1         2        2          2             2           2               2       2        2        2        0.7              46    52       4      80          1
4          2        34         1         2             2         2        2          2             2           2               2       2        2        2          1             NaN   200       4     NaN          1

In [7]:
data.columns = data.columns.str.strip()

In [12]:
data= data.replace('?',np.nan)

In [17]:
data= data.dropna()

In [19]:
data = data.apply(pd.to_numeric)

In [24]:
inputs = data.drop(['DIE'], axis = 'columns')
target = data['DIE']

In [25]:
X = np.asarray(inputs)

In [26]:
y = np.asarray(target)

In [27]:
from sklearn import preprocessing

In [31]:
X = preprocessing.StandardScaler().fit(X).transform(X)
X[0:5]

array([[-0.59437209, -0.3992747 ,  0.95118973,  0.59660054,  1.36277029,
         0.79539491,  0.42008403,  0.4404882 ,  0.95118973,  0.48038446,
         0.67419986,  0.42008403,  0.37796447, -0.36936917, -0.14831805,
        -0.75929992,  0.27284058,  0.53638413, -0.83793058],
       [-0.14831424, -0.3992747 , -1.05131497, -1.67616342,  1.36277029,
         0.79539491,  0.42008403, -2.27020839, -1.05131497,  0.48038446,
         0.67419986,  0.42008403,  0.37796447,  0.09054575, -0.46697925,
        -0.73119072,  0.97131247,  0.96592097, -0.83793058],
       [-0.77279523, -0.3992747 ,  0.95118973, -1.67616342, -0.73379939,
         0.79539491,  0.42008403,  0.4404882 , -1.05131497,  0.48038446,
        -1.4832397 ,  0.42008403,  0.37796447, -0.25439044, -0.82313001,
         2.34676733, -0.25101333, -0.36564324, -0.83793058],
       [ 0.0301089 , -0.3992747 ,  0.95118973, -1.67616342, -0.73379939,
         0.79539491,  0.42008403,  0.4404882 , -1.05131497,  0.48038446,
         0.67419986,  0.42008403,  0.37796447, -0.36936917, -0.41074492,
        -0.30955263,  0.09822261, -0.4515506 , -0.83793058],
       [-0.95121837, -0.3992747 ,  0.95118973,  0.59660054, -0.73379939,
         0.79539491,  0.42008403,  0.4404882 , -1.05131497,  0.48038446,
         0.67419986,  0.42008403,  0.37796447,  1.12535433, -0.86061957,
         0.87103402,  1.84440233,  0.66524518, -0.83793058]])

In [37]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size = 0.2, random_state=4)

In [41]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
model=LogisticRegression(C=0.1, solver='liblinear').fit(X_train,y_train)

In [46]:
target.head()

5     2
10    2
11    2
12    2
13    2
Name: DIE, dtype: int64

In [54]:
y_test1 = model.predict(X_test)

In [49]:
model.score(X_test,y_test)

0.8125

In [55]:
from sklearn.metrics import jaccard_similarity_score
jaccard_similarity_score(y_test,y_test1)

0.8125